#HOW DEEP CAN YOU GO?
MAXIMUM RECRUSION DEPTH = 28

#HOW MANY SAMPLES PER PIXEL?
SAMPLES PER PIXEL = 32

#WHAT IS THE OUTPUT RESOLUTION?
OUTPUT WIDTH = 800
OUTPUT HEIGHT = 800

#WHAT IS THE INPUT OBJ FILE?
INPUT OBJ FILE = C:\Users\falli\Projects\PathTracer\CornellBoxWithMonkey_lgscale.obj

VOLUME FILE = D:\DataSets\Images\Fountain\volume_raw\160x256x160_6.bin
VOLUME WIDTH = 160
VOLUME HEIGHT = 256
VOLUME DEPTH = 160